@font-face {
    font-family: Avatar-font;
    src: url(../Font/Avatar-the-last-Airbender-Font/Herculanum-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Avatar-font;
    /* transition: all 0.5s ease-in-out; */
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #151515;
    scroll-behavior: smooth;
    min-width: 400px;
    overflow-x: hidden;
}

/* ***************************************************************************              section 1 */

#section1 {
    width: 100%;
    height: 100%;
    position: relative;

    background-image: url("../Images/videoplayback.mp4");
}

#front-video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    text-align: center;
    align-items: center;
    justify-content: center;

    position: relative;
}

#titel {
    position: absolute;
    color: #f1f1f1;

    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.scroll-down-btn {
    width: 50px;
    height: 80px;

    border: 2px solid #fff;
    border-radius: 50px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-down-btn:before {
    content: "";

    position: absolute;

    width: 10px;
    height: 10px;

    background: #fff;

    margin: auto;
    left: 0;
    right: 0;

    top: 30px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 1;
        top: 15px;
    }

    100% {
        opacity: 0;
        top: 60px;
        transform: scale(0.8);
    }
}

/* ***************************************************************************              root */

/*water */
:root {
    --water_blue: #5D78AB;
    --water_lightblue: #87A6BD;
    --water_brown: #705D4B;
    --water_lightbrown: #967658;

}

/* earth */
:root {
    --earth_green: #145425;
    --earth_lightgreen: #7B944F;
    --earth_yellowgreen: #B4AD64;
    --earth_graygreen: #80987C;
}

/* fire */
:root {
    --fire_red: #A10000;
    --fire_yellow: #ECB100;
    --fire_gray: #C9C9C9;
    --fire_black: #2B2B2B;
}

/* air */
:root {
    --air_red: #FF6666;
    --air_yellow: #FFE67E;
    --air_lightgray: #CCCCCC;
    --air_gray: #BBBBBB;
}

/* ***************************************************************************              section 2 */

#section2 {
    width: 100%;
    height: 100%;

    background-color: #274443;
    background-image: radial-gradient(circle at center, #365756 0, #223c3b, #1d3837 100%);
}

#map-image {
    max-width: 100%;
    /* height: 100%;+ */

    object-fit: cover;
    object-position: center;

    display: block;
}

#zoom {
    width: 100%;
    height: 100%;

    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;

    position: relative;
}

.infobalk {
    width: 300px;
    height: 100%;
    padding: 10px;

    background-color: #1d3837;
    box-shadow: -10px 0px 10px 1px #000000b7;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    display: none;
}

#close-info {
    width: 200px;
    height: 50px;

    margin: 0 auto;
    padding: 16px 10px;

    text-align: center;
    background-color: #145425;

    font-size: large;
    font-weight: bold;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border: solid 3px #0c0c0c;

    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;

    cursor: pointer;
}

/* ***************************************************************************             media query */
@media screen and (max-width: 1380px) {
    #map-image {
        object-position: left;
    }
}

/* ***************************************************************************             section 2 buttons */

.location-btn {
    position: absolute;
    display: block;


    width: 30px;
    height: 30px;

    background-color: white;
    border-radius: 50%;


    transform: translateX(-50%) translateY(0);
    filter: brightness(1) contrast(1.1);

    transition: all .3s ease-in-out;
}

.location-btn:hover {
    cursor: pointer;
    transform: translateX(-40%) scale(2.05);
}

.titel{
    width: 200px;
    height: 50px;

    margin: 0 auto;
    padding: 16px 10px;

    text-align: center;
    background-color: #145425;

    font-size: large;
    font-weight: bold;
    cursor: pointer;
}



/* ***************************************************************************              water */

.water {
    background-image: url("../Images/water-tribe-icon.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: var(--water_blue);
    border: solid 2px rgb(10, 10, 95);
}

#Northern-Water-Tribe {
    left: 50.42%;
    bottom: 83.5%;
}

#Southern-Water-Tribe {
    left: 42.3%;
    bottom: 12.5%;
}

.Southern-Water-Tribe-info {
    display: none;
}

.Northern-Water-Tribe-info{
    display: none;
}



/* ***************************************************************************              earth */


.earth {
    background-image: url("../Images/earth-kingdom-icon.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-size: 80%;
    background-position: center;

    background-color: var(--earth_yellowgreen);
    border: solid 2px var(--earth_green);
}

#Ba-Sing-Se {
    left: 76.75%;
    bottom: 69.75%;
}



/* ***************************************************************************              fire */


.fire {
    background-image: url("../Images/fire-nation-icon.webp");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: var(--fire_red);
    border: solid 2px var(--fire_black);
}

#The-Capital-City {
    left: 10.2%;
    bottom: 49.4%;
}



/* ***************************************************************************              air */

.air {
    background-image: url("../Images/air-nomads-icon.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: white;
    border: solid 2px var(--water_lightblue);
}

#Northern-Air-Temple {
    left: 60.4%;
    bottom: 81.9%;
}

#Eastern-Air-Temple {
    left: 92.49%;
    bottom: 43.55%;
}

#Southern-Air-Temple {
    left: 39.8%;
    bottom: 28.4%;
}

#Western-Air-Temple {
    left: 19.72%;
    bottom: 73.345%;
}

/* ******************************************************************           section 2 buttons media query */

@media screen and (max-width: 1380px) {

    /* water */

    /* #Southern-Water-Tribe {
        left: 41.3%;
        bottom: 12%;
    } */

    /* #Northern-Water-Tribe {
        left: 49.5%;
        top: 14.5%;
    } */

    /* earth */

    /* #Ba-Sing-Se {
        right: 22%;
        top: 28%;
    } */

    /* fire */
    /* #The-Capital-City {
        left: 9.5%;
        top: 48.5%;
    } */

    /* air */
    /* #Northern-Air-Temple {
        right: 39%;
        top: 16%;
    } */

    /* #Eastern-Air-Temple {
        right: 7%;
        top: 55%;
    } */

    /* #Southern-Air-Temple {
        left: 39%;
        bottom: 28%;
    } */

    /* #Western-Air-Temple {
        left: 19%;
        top: 25%;
    } */
}

@media screen and (max-width: 1000px) {
    .location-btn {
        width: 20px;
        height: 20px;
    }

    /* #Ba-Sing-Se {
        width: 20px;
        height: 20px;
    } */
}

/* ***************************************************************************              menu */

/* ***************************************************************************              check "menubar.css" */